@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

:root {
    --pri-color: #fff;
    --sec-color: #3f3d56;
    --width: min(88vw, 1200px);
    --set-shadow: 4px 4px 5px #3332;
    --set-shadow2: 4px 4px 5px #ffffff15;
    --gap: 50px;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-thumb {
	background-color: var(--sec-color);
    border-radius: 100vmax;
}

body, ::-webkit-scrollbar-track {
	background-color: var(--pri-color);
}

body, html {
    font-family: var(--font-mono);
    color: var(--sec-color);
    overflow-x: clip;
}

nav > section, footer, .header h1, .header p, .about, .features, .contact, .dash {
    width: var(--width);
    margin: 0 auto;
}

/* Forms */
form.form, article.docAppoint {
    width: min(88vw, 700px);
    border-radius: 10px;
    margin: 0 auto;
    margin-top: var(--gap);
    background-color: var(--sec-color);
    color: var(--pri-color);
    padding: 20px;
}
article.docAppoint {
    width: var(--width);
    background-color: var(--pri-color);
    padding: 0;
    color: var(--sec-color);
}

form.form, form.form > section {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form.form input, form.form select, form.form textarea, input{
    border-radius: 10px;
    background-color: transparent;
    border: 2px solid var(--pri-color);
}

form.form select option {
    color: var(--sec-color);
}
form.form textarea {
    resize: none;
    height: 110px;
}

form.form div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2px;
    flex-wrap: wrap;
}

.pass {
    position: relative;
}
.pass input {
    width: 100%;
    padding-right: 35px;
}
.pass span {
    cursor: pointer;
    position: absolute;
    right: 0;
    color: var(--pri-color);
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
}
.pass span svg {
    pointer-events: none;
}
.docAppoint .pass, .notes .pass, .records .pass, .prescribe .pass  {
    padding: 3px;
    color: var(--pri-color);
    background-color: var(--sec-color);
    border-radius: 10px;
}
.docAppoint .pass label, .notes .pass label, .records .pass label, .prescribe .pass label  {
    cursor: pointer;
    position: absolute;
    right: 0;
    color: var(--pri-color);
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
}
.docAppoint .pass label svg, .notes .pass label svg, .records .pass label svg, .prescribe .pass label svg  {
    pointer-events: none;
}
/* Dashboard */
.dash {
    margin-top: var(--gap);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.dash > article, .dash > article > section, article.docAppoint > section {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}
.dash > article {
    align-items: start;
}
article.docAppoint > section {
    flex-direction: column;
}

.dash > article > section {
    flex-direction: column;
    width: 30%;
    justify-content: start;
}

.dash > article > section.top {
    position: sticky;
    top: 65px;
}

.dash > article > section > div, article.docAppoint > section > div {
    background-color: var(--sec-color);
    border-radius: 10px;
    color: var(--pri-color);
    box-shadow: var(--set-shadow);
    padding: 14px;
    min-width: 250px;
}

.dash > article > section:last-child {
    width: 67%;
}

.info {
    display: grid;
    margin-top: 10px;
    grid-gap: 5px;
}

.dash div:has(.profileImg) {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.profileImg {
    background-color: var(--sec-color);
    color: var(--pri-color);
    display: grid;
    place-items: center;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: 0 auto;
}

.records, .prescribe, .vitals, .notes, .records > ul , .vitals ul.vit, .prescribe > ul{
    max-height: 400px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    overscroll-behavior: contain;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.vitals {
    max-height: max-content;
}

.vitals > span {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.notes ul, .records > ul, .prescribe > ul, .searchList ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(245px, 1fr));
    grid-gap: 10px;
}
.notes.appoint2 ul, .searchList ul {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}
.notes.appoint2 {
    max-height: max-content;
}

.records > ul > li , .prescribe > ul > li, .vitals ul.vit > li, .notes ul > li {
    display: flex;
    gap: 20px;
    align-items: center;
    border-radius: 10px;
    padding: 5px 10px;
    justify-content: space-between;
    border: 2px solid var(--pri-color);
    transition: 150ms ease-in-out;
}
.vitals ul.vit > li, .notes ul > li, .records > ul > li , .prescribe > ul > li {
    flex-direction: column;
    align-items: start;
    gap: 5px;
}

.notes ul > li p {
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.records > ul > li:hover , .prescribe > ul > li:hover, .vitals ul.vit > li:hover, .notes ul > li:hover {
    scale: .98;
}

.records > ul > li:nth-of-type(2n) , .prescribe > ul > li:nth-of-type(2n), .vitals ul.vit > li:nth-of-type(2n), .notes ul > li:nth-of-type(2n) {
    background-color: var(--pri-color);
    color: var(--sec-color);
}

.searchList:has(li:nth-of-type(3n)) li > span, .searchList:has(li.longer:nth-of-type(2n)) li.longer > span {
    position: static;
}

/* BUTTONs */
.btn {
    background-color: var(--sec-color);
    border: 2px solid transparent;
    border-radius: 100vmax;
    color: var(--pri-color);
    padding: 5px 12px;
    cursor: pointer;
    transition: 150ms ease-in-out;
}

.btn:active {
    scale: .97;
}

.btn:hover {
    background-color: transparent;
    color: var(--sec-color);
    border: 2px solid var(--sec-color);
}

/* animations */
.toScrollAnimate {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0 cover 25%;
}


@keyframes appear {
    from {
        opacity: 0;
        scale: 0.55;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}

/* Media styles */
@media(max-width: 545px) {
    span.di {
        flex-wrap: wrap;
    }
    span.di input, span.di select {
        width: 100%;
    }
    .vitals > span {
        grid-template-columns: 1fr;
    }
    li > span.flex {
        position: static;
        align-self: start;
        margin-top: 5px;
    }
    .identity {
        display: none;
    }
    nav > section.difSmall {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 10px;
    }
}

@media(max-width: 900px) {
    .dash > article {
        flex-direction: column;
    }

    .dash > article > section, .dash > article > section:last-child {
        width: 100%;
    }

    .dash > article > section.top {
        position: relative;
        top: 0;
    }
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}
